section.section-gt.about-5#about-5 
	.container
		.partner
			.section-title.text-center
				h5 Đối tác
			.wrap-slide
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.img
								img(src="./assets/gioithieu/6.png", alt="")
						.swiper-slide
							.img
								img(src="./assets/gioithieu/bae.png", alt="")
						.swiper-slide
							.img
								img(src="./assets/gioithieu/15.png", alt="")
						.swiper-slide
							.img
								img(src="./assets/gioithieu/9.jpg", alt="")
				.wrap-button-slide
					.swiper-prev.sw-2
						span.material-icons.partner-icon keyboard_arrow_left
					.swiper-next.sw-2
						span.material-icons.partner-icon keyboard_arrow_right