footer
	.footer-subscribed
		.container
			.row
				.col-xl-6
					.content
						.img
							img(src="./assets/icons/dknt.png", alt="")
						.caption
							p.title-subscribe Đăng ký nhận bản tin
							p.desc Nhận những thông tin về sản phẩm mới, sự kiện và khuyến mãi
				.col-xl-6
					.subscribefrm
						.form-group
							input.subscribeemail(type="text" placeholder="Nhập email")
							button.subscribebutton Đăng ký
								em.material-icons arrow_forward
	.footer-container
		.container
			.row
				.col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
					.footer-card
						.footer-header
							img(src="./assets/icons/chinhhang.png", alt="")
						.footer-body
							p.title 100% chính hãng
							p.desc Đối tác uỷ quyền chính thức nhiều thương hiệu hàng đầu
				.col-xl-3.col-lg-3.col-lg-3.col-md-3.col-sm-6.col-6
					.footer-card
						.footer-header
							img(src="./assets/icons/hotro.png", alt="")
						.footer-body
							p.title hỗ trợ tư vấn
							p.desc Giải đáp nhanh mọi thắc mắc - yêu cầu từ khách hàng
				.col-xl-3.col-lg-3.col-lg-3.col-md-3.col-sm-6.col-6
					.footer-card
						.footer-header
							img(src="./assets/icons/chinhsach.png", alt="")
						.footer-body
							p.title chính sách đổi trả
							p.desc Đàm bảo sự hài lòng của khách hàng với chính sách đa dạng
				.col-xl-3.col-lg-3.col-lg-3.col-md-3.col-sm-6.col-6
					.footer-card
						.footer-header
							img(src="./assets/icons/baohanh.png", alt="")
						.footer-body
							p.title bảo hành miễn phí
							p.desc Áp dụng theo quy định của từng hãng sản xuất sản phẩm
	.footer-container
		.container
			.row
				.col-xl-3.col-lg-6.col-md-6
					.footer-card
						.footer-header
							p.title công ty tnhh tm xnk nikenko
						.footer-body
							p.desc Tầng 2 ,Phòng GO. 2.11 Tòa nhà Galaxy 9 ,Số 9 Nguyễn Khoái, P.01, Q.4, TP.HCM
							p.desc Mã số thuế: 0316078235
							p.desc
								em.material-icons call
								|09xxxxxxxx
							p.desc
								em.material-icons email
								|sale@nikenko.vn
				.col-xl-3.col-lg-6.col-md-6
					.footer-card
						.footer-header
							p.title sản phẩm
						.footer-body
							ul
								li
									a(href="") Chăm sóc sức khỏe trẻ em
								li
									a(href="") Bổ sung vitamin và khoáng chất
								li
									a(href="") Bổ tim mạch, huyết áp & mỡ máu
								li
									a(href="")
										|Bổ não và tăng cường trí nhớ
								li
									a(href="")
										|Bổ mắt và tăng cường thị lực
								li
									a(href="")
										|Bổ thận, mát gan và giải độc
								li
									a(href="")
										|Sức khỏe và hệ tiêu hóa
								li
									a(href="")
										|Bổ sung collagen & làm đẹp
								li
									a(href="")
										|Thiết bị Y tế cá nhân
				.col-xl-3.col-lg-6.col-md-6
					.footer-card
						.footer-header
							p.title hỗ trợ khách hàng
						.footer-body
							ul
								li
									a(href="") Hướng dẫn đặt hàng
								li
									a(href="") Phương thức vận chuyển
								li
									a(href="") chính sách đổi trả
								li
									a(href="") Chính sách bảo mật thanh toán
								li
									a(href="") Chính sách bảo mật thông tin
				.col-xl-3.col-lg-6.col-md-6
					.footer-card
						.footer-header
							p.title kết nối với chúng tôi
						.footer-body
							ul.social
								li.face
									a(href="")
										em.fab.fa-facebook-f
								li.youtube
									a(href="")
										em.fab.fa-youtube
								li.twitter
									a(href="")
										em.fab.fa-twitter
							.img
								img(src="./assets/icons/1.png", alt="")
	.coppy-right
		.container
			.row
				.col-xl-8
					.coppy
						a(href="") Copyright 2020 by Nikenko. Tất cả các quyền được bảo hộ. 
						a(href="") Thiết kế website bởi Cánh Cam.
				.col-xl-4
					.scurity
						a(href="") Điều khoản sử dụng
						a(href="") Chính sách bảo mật