header
	.menu-mobile
		.logo
			a(href="index.html")
				img(src="./assets/logo/logoTDE.png", alt="")
		.wrap-right
			.icon-search 
				em.search-icon.material-icons search
			.hambuger 
				span
				span
				span
				span
	.menu-desktop
		.logo 
			a(href="index.html")
				img(src="./assets/logo/logoTDE.png", alt="")
		.wrap-list-menu 
			ul 
				li 
					a(href="") TVN
				li 
					a(href="") Tokyo Deli Sushi
				li 
					a(href="") Tokyo Deli Home
				li.active
					a(href="") Tokyo Deli Express
				li 
					a(href="") Tokyo Deli Catering
		.wrap-list-menu-icon
			ul 
				li.active
					a(href="gioi-thieu.html")
						img(src="./assets/header/icon1.png", alt="")
						| Giới thiệu
				li
					a(href="thuc-don.html")
						img(src="./assets/header/icon2.png", alt="")
						| Thực đơn
				li
					a(href="khuyen-mai.html")
						img(src="./assets/header/icon3.png", alt="")
						| Khuyễn mãi
				li
					a(href="ho-tro-khach-hang.html")
						img(src="./assets/header/icon4.png", alt="")
						| Hỗ trợ khách hàng
				li
					a(href="lien-he.html")
						img(src="./assets/header/icon5.png", alt="")
						| Liên hệ
		.wrap-icon 
			.wrap-left 
				em.search-icon.material-icons search
				a(href="")
					i.fab.fa-facebook-square
				a(href="")
					i.fab.fa-youtube
			.dive
			.wrap-right
				a.vn(href="")
					img(src="./assets/header/icon-vn.png", alt="")
				a.us(href="")
					img(src="./assets/header/icon-us1.svg", alt="")
.search-wrap
	.search-middle
		.close-btn X
		.wrap-button
			input.form-control.search-t(type='text' placeholder='Tìm kiếm...')
			button.button-search
				span.material-icons
					| search	
