main 
	width: calc( 100% - 185px )
	margin-left: 185px
	min-height: 100vh
	float: right
	@media screen and ( max-width: 1024px )
		width: 100%
		margin-left: 0px
header 
	display: flex
	flex-direction: column
	background-color: #fff
	align-items: center
	position: fixed
	top: 0 
	bottom: 0 
	width: 185px
	float: left
	transition: .3s all  ease-in-out
	.menu-mobile
		width: 100%
		display: none
		height: 100%
		padding: 0 15px
		.logo 
			height: 70px
			img 
				width: 100%
				height: 100%
				object-fit: contain
		.wrap-right 
			display: flex
			align-items: center
			.icon-search
				width: 30px
				height: 30px
				border: 1px solid $main-color
				display: flex
				align-items: center
				justify-content: center
				margin-right: 10px
				background-color: $main-color
				em 
					font-size: 17px
					color: white
		.hambuger
			height: 25px
			display: flex
			align-items: center
			justify-content: center
			width: 35px
			position: relative
			transition: .3s all  ease-in-out
			&.active 
				span 
					&:first-child
						top: 18px
						left: 50%
						width: 0px
					&:nth-child(2)
						transform: rotate(45deg)
						background: $main-color
					&:nth-child(3)
						transform: rotate(-45deg)
						background: $main-color
					&:nth-child(4)
						top: 18px
						left: 50%
						width: 0px
			span 
				display: block
				position: absolute
				left: 0
				transform: rotate(0deg)
				opacity: 1
				transition: .5s ease-in-out
				border-radius: 9px
				background: black
				width: 100%
				height: 5px
				&:first-child
					top: 0
				&:nth-child(2), &:nth-child(3)
					top: 10px
				&:nth-child(4)
					top: 20px
		@media screen and ( max-width: 1024px )
			display: flex
			justify-content: space-between
			align-items: center
	&.active 
		transition: .3s all  ease-in-out
		width: 100%
		height: 80px
		bottom: auto
		right: 0 
		left: 0
		z-index: 999
	.menu-desktop
		z-index: 999
		display: flex
		flex-direction: column
		background-color: #fff
		align-items: center
		padding-top: 10px
		transition: .6s all  ease-in-out
		&.active 
			transition: .6s all  ease-in-out
			right: 0
		@media screen and ( max-width: 1024px )
			right: -100%
			width: 230px
			top: 80px
			bottom: 0
			position: fixed
			.logo 
				display: none
		
	.wrap-list-menu 
		margin-top: 20px
		@media screen and ( max-width: 1024px )
			margin-top: 0px
		ul 
			padding: 0
			li 
				list-style: none
				&.active 
					a
						color: white
						background-color: $main-color
						border: 1px solid $main-color
				a 
					color: #333333
					font-size: 12 / 16 * 1rem
					font-weight: 700
					width: 130px
					height: 24px
					border-radius: 12px
					border: 1px solid #999999
					background-color: #ffffff
					display: block
					display: flex
					align-items: center
					justify-content: center
					transition: .3s all  ease-in-out
					&:hover 
						color: white
						background-color: $main-color
						border: 1px solid $main-color
				&+li 
					margin-top: 6px
				&:last-child
					margin-bottom: 6px
	.wrap-list-menu-icon 
		width: 100%
		margin-top: 4px
		ul 
			padding: 0
			li 
				list-style: none
				border-top: 1px solid #eeeeee
				padding-top: 14px
				padding-bottom: 7px
				&.active 
					a 
						color: $main-color
				a 
					display: flex
					flex-direction: column
					align-items: center
					img 
						margin-bottom: 4px
				&:last-child
					border-bottom: 1px solid #eeeeee
	
	.wrap-icon
		display: flex
		justify-content: flex-start
		width: 100%
		padding: 0 14px
		margin-top: 16px
		align-items: center
		.dive 
			width: 1px
			height: 16px
			background-color: #eeeeee
			margin-right: 14px
		.wrap-left 
			display: flex
			align-items: center
			.search-icon
				color: #666666
				font-size: 18 / 16 * 1rem
				font-weight: 400
				margin-right: 12px
				cursor: pointer
			i 
				color: #111111
				font-size: 18 / 16 * 1rem
				margin-right: 14px
		.wrap-right 
			.vn 
				margin-right: 5px
.search-wrap
	-webkit-transition: all 1s ease
	-moz-transition: all 1s ease
	-o-transition: all 1s ease
	-ms-transition: all 1s ease
	transition: all 1s ease
	background: rgba(0, 0, 0, 0.63)
	position: fixed
	right: -100%
	top: 0
	width: 100%
	height: 100%
	display: table
	z-index: 999
	.search-middle
		display: table-cell
		vertical-align: middle
		height: 100%
	.search-t
		background: transparent
		color: #fff
		font-size: 30 / 16 * 1rem
		border-radius: 0
		width: 100%
		margin: 0 auto
		background-color: transparent
		border: 0
		color: white
		padding: 0
		border-bottom: 4px solid white
		transition: ease-in-out all .3s
		&:focus
			background-color: transparent
			border: 0
			color: white
			border-bottom: 4px solid $main-color
			box-shadow: none
		&::placeholder
			color: white
		@media screen and ( max-width: 575px )
			font-size: 20px
	.close-btn
		position: absolute
		right: 0
		top: 0
		cursor: pointer
		width: 50px
		height: 50px
		text-align: center
		background: white
		color: #575757
		font-size: 28/16*1rem
		border-radius: 37px
		margin: 20px
		display: flex
		align-items: center
		justify-content: center
		@media screen and ( max-width:1024px  )
			font-size: 20/16*1rem
			width: 40px
			height: 40px
	.wrap-button
		width: 60%
		margin: 0 auto
		position: relative
		@media screen and ( max-width: 575px )
			width: 80%
		.button-search
			position: absolute
			right: 0
			outline: none
			border: 0
			bottom: 0
			background-color: transparent
			color: white
			span
				font-size: 40px
