.search-page
	padding: 60px 0

	.search-page-top
		.page-header
			h1
				font-size: 36px
				font-weight: 500
				color: #333333

				@media(max-width: 1025px)
					font-size: 26px

		.searchcontrols
			padding: 30px 0

			.form-inline
				.form-group
					width: 100%
					position: relative
					.form-control
						border: solid 1px #a1a1a1
						width: 100%
						height: 40px
						border-radius: 0
						&:focus
							box-shadow: none

					.seachpage-btn
						display: none

	.searchresults
		.modulepager
			display: flex
			align-items: center
			padding-bottom: 30px
			&:nth-child(1)
				display: none
	.searchresultlist
		.searchresult
			.NeatHtml
				h3
					font-size: 18px
					a
						font-size: 20px
						font-weight: 500
						color: $main-color
						text-decoration: none