section.hotrokhachhang.section
	.container
		h2.section-title Hỗ trợ khách hàng
		.wrap-list 
			ul 
				li.active
					a(href="") FAQs
				li 
					a(href="") Chính sách giao hàng
				li 
					a(href="") Chính sách bảo mật
				li 
					a(href="") Chính sách đổi trả
		.wrap-acr
			-for(i=0;i<5;i++)
				.title-acr
					p 01. Order qua các app giao hàng thì có được áp dụng khuyến mãi của Tolyo Deli không?
				.content-acr 
					p Là người trực tiếp phục vụ thức ăn đến khách hàng, TOKYO Deli  luôn luôn ý thức được trách nhiệm của mình đối với sức khỏe của người tiêu dùng. Vì vậy, TOKYO Deli  đã xây dựng một hệ thống kiểm soát chất lượng và an toàn thực phẩm rất nghiêm ngặt, quy trình trình chế biến cũng được áp dụng các nguyên tắc thân thiện với môi trường để đảm bảo cung cấp cho khách hàng các sản phẩm sạch và xanh.
		ul.pagination 
			li.active
				a(href="") 1
			li
				a(href="") 2
			li
				a(href="") 3
		.wrap-form-lh
			h2.section-title Liên hệ với chúng tôi
			.wrap-form 
				.form-row
					.form-group.col-sm
						input(type="text", placeholder="Họ  tên")
					.form-group.col-sm
						input(type="text", placeholder="Email")
				.form-row
					.form-group.col-sm
						input(type="text", placeholder="Số điện thoại")
					.form-group.col-sm
						input(type="text", placeholder="Tiêu đề")
				.form-group.text-area
					textarea(name="", cols="30", rows="10", placeholder="Nội dung")
				.form-group.frm-btnwrap 
					.frm-btn 
						input(type="submit", value="Gửi")