section.cttintuc.section
	.container
		.news-box
			.news-detail
				.title.text-left
					h1 Tokyo Deli điểm thưởng thức ẩm thực Nhật không thể #[br]bỏ qua
				.social
					.content-sub
						span 01.08.2020
					.social-item
						a.f-icon.facebook(href="#")
							i.fab.fa-facebook-f
						a.f-icon.twitter(href="#")
							i.fab.fa-twitter
						a.f-icon.linked(href="#")
							i.fab.fa-linkedin-in
				.content
					p.content-distance Tokyo Deli điểm đến cuối tuần không thể bỏ qua dành cho các bạn thích ẩm thực Nhật hoặc muốn trải nghiệm ẩm thực #[br] Nhật. Thực đơn ở đây rất đa dạng với hơn 200 món được chế biến bởi các chuyên gia hàng đầu Nhật Bản.
					h4.special Điểm thu hút của Tokyo Deli
					p.content-distance Tokyo Deli là một điểm đến quen thuộc của rất nhiều thực khách Việt Nam. Điểm thu hút của quán đó là sự đảm bảo về hương vị, phục vụ tận tính đúng phong cách Nhật, không gian thân thiện đặc biệt thức ăn nơi đây luôn đảm bảo sự phù hợp với khẩu vị người Việt Nam. Ẩm thực Nhật Bản có thể nói là vô cùng đặc sắc và đa dạng, những món ăn Nhật hướng đến sự tự nhiên kết hợp cùng nghệ thuật chế biến có một không hai trên thế giới. Một món ăn ngon và bắt mắt phải được kết hợp giữa nguyên liệu ngon sạch và bàn tay khéo léo của người đầu bếp. Ở Tokyo Deli tất cả các tiêu chuẩn đó đều được.
					.content-distance.text-center
						img(src="./assets/cttt/1.png", alt="")
					p.content-distance Tokyo Deli là một điểm đến quen thuộc của rất nhiều thực khách Việt Nam. Điểm thu hút của quán đó là sự đảm bảo về hương vị, phục vụ tận tính đúng phong cách Nhật, không gian thân thiện đặc biệt thức ăn nơi đây luôn đảm bảo sự phù hợp với khẩu vị người Việt Nam. Ẩm thực Nhật Bản có thể nói là vô cùng đặc sắc và đa dạng, những món ăn Nhật hướng đến sự tự nhiên kết hợp cùng nghệ thuật chế biến có một không hai trên thế giới. Một món ăn ngon và bắt mắt phải được kết hợp giữa nguyên liệu ngon sạch và bàn tay khéo léo của người đầu bếp. Ở Tokyo Deli tất cả các tiêu chuẩn đó đều được đáp ứng một cách đầy đủ.
					p.content-distance Tokyo Deli là một điểm đến quen thuộc của rất nhiều thực khách Việt Nam. Điểm thu hút của quán đó là sự đảm bảo về hương vị, phục vụ tận tính đúng phong cách Nhật, không gian thân thiện đặc biệt thức ăn nơi đây luôn đảm bảo sự phù hợp với khẩu vị người Việt Nam. Ẩm thực Nhật Bản có thể nói là vô cùng đặc sắc và đa dạng, những món ăn Nhật hướng đến sự tự nhiên kết hợp cùng nghệ thuật chế biến có một không hai trên thế giới. Một món ăn ngon và bắt mắt phải được kết hợp giữa nguyên 
					h4.special Tokyo Deli rất chú trọng về sức khỏe
					.content-distance.text-center
						img(src="./assets/cttt/2.png", alt="")
					p.content-distance Tokyo Deli là một điểm đến quen thuộc của rất nhiều thực khách Việt Nam. Điểm thu hút của quán đó là sự đảm bảo về hương vị, phục vụ tận tính đúng phong cách Nhật, không gian thân thiện đặc biệt thức ăn nơi đây luôn đảm bảo sự phù hợp với khẩu vị người Việt Nam. Ẩm thực Nhật Bản có thể nói là vô cùng đặc sắc và đa dạng, những món ăn Nhật hướng đến sự tự nhiên kết hợp cùng nghệ thuật chế biến có một không hai trên thế giới. Một món ăn ngon và bắt mắt phải được kết hợp giữa nguyên liệu ngon sạch và bàn tay khéo léo của người đầu bếp. Ở Tokyo Deli tất cả các tiêu chuẩn đó đều được đáp ứng một cách đầy đủ. Tokyo Deli là một điểm đến quen thuộc của rất nhiều thực khách Việt Nam. Điểm thu hút của quán đó là sự đảm bảo về hương vị, phục vụ tận tính đúng phong cách Nhật, không gian thân thiện đặc biệt thức ăn nơi đây luôn đảm bảo sự phù hợp với khẩu vị người Việt Nam. Ẩm thực Nhật Bản có thể nói là vô cùng đặc sắc và đa dạng, những món ăn Nhật hướng đến sự tự nhiên kết hợp cùng nghệ thuật chế biến có một không hai trên thế giới. Một món ăn ngon và bắt mắt phải được kết hợp giữa nguyên liệu ngon sạch và bàn tay khéo léo của người đầu bếp. Ở Tokyo Deli tất cả các tiêu chuẩn đó đều được đáp ứng một cách đầy đủ.
				.other-page 
					.title-other Tin tức khác
					.wrap-slide 
						.swiper-container
							.swiper-wrapper
								-for(i=0;i<5;i++)
									.swiper-slide
										.wrap-box 
											.img
												a(href="")
													img(src="./assets/cttt/ttk-1.png", alt="")
											.wrap-text 
												a(href="")
													span.date 01.08.2020
													.title Tokyo Deli- Ẩm thực cuối tuần cho gia đình
													span.xemthem Xem thêm
						
			.news-new
				.news-new-header
					.title
						h3 Tin tức mới
				.news-new-body
					-for(i=0;i<4;i++)
						.news-new-item
							a.block-image.zoom-in(href="#")
								img(src="./assets/cttt/6.png", alt="")
							.content
								span.content-sub 08.08.2020
								a.d-webkit.lcl.lcl-2(href="#")  Nơi có tất cả các món Nhật 


							




