section.section-gt.about-2#about-2
	.container
		.history
			.section-title.text-center
				h2 Lịch sử hình thành
			.wrap-slide
				.swiper-container
					.swiper-wrapper
						-for(i=0;i<4;i++)	
							.swiper-slide
								.wrap-box
									.img
										img(src="./assets/gioithieu/2.jpg", alt="")
									.distance
										span.title 2007
										span.content-2 Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng.
				.wrap-button-slide
					.swiper-prev.sw-1
						span.material-icons.partner-icon keyboard_arrow_left
					.swiper-next.sw-1
						span.material-icons.partner-icon keyboard_arrow_right


