section.khuyenmai.total
	.container
		.title.text-center
			h1 Khuyến mãi
		.swiper-container
			.swiper-wrapper
				-for(i=0;i<3;i++)
					.swiper-slide
						.discount
							.discount-item
								img(src="./assets/khuyenmai/6.jpg", alt="")
								.discount-item-detail
									.distance
										span.title Giảm giá 30% Bento cơm thịt bò
										span.content Thời gian: Từ ngày 01/04/2020 - 31/05/2020. Áp dụng cho khách hàng đặt món trên ứng dụng Now.vn
										a(href="#" class="seemore-2") Xem Thêm
							.discount-box
								.discount-item-2
									img(src="./assets/khuyenmai/1.png", alt="")
									.discount-item-content
										.distance
											span.title Ăn thật đã, giá thật mê cùng Grabfood
											span.content Từ 15/7-31/7/2020, Quý khách hàng khi đặt Tokyo Deli sẽ được giảm 100.000 đồng cho giao dịch đầu tiên đặt hàng qua Grabfood.
											a(href="#" class="seemore-2") Xem Thêm
								.discount-item-2
									.discount-item-content
										.distance
											span.title GOVIET: Món gì cũng có, mà còn giao nhanh
											a(href="#" class="seemore-2") Xem Thêm
									img(src="./assets/khuyenmai/1.png", alt="")
						.other-discount
							.other-discount-item
								img(src="./assets/khuyenmai/3.png", alt="")
								.distance
									span.title Combo tẹt ga, ăn chung thiệt đã
									a(href="#" class="seemore-2") Xem Thêm
							.other-discount-item
								img(src="./assets/khuyenmai/3.png", alt="")
								.distance
									span.title Combo tẹt ga, ăn chung thiệt đã
									a(href="#" class="seemore-2") Xem Thêm
							.other-discount-item
								img(src="./assets/khuyenmai/3.png", alt="")
								.distance
									span.title Combo tẹt ga, ăn chung thiệt đã
									a(href="#" class="seemore-2") Xem Thêm
			.swiper-pagination





