section.lienhe
	.container
		.title.text-center
			h1 Liên Hệ
		.contact
			.contact-info
				img(src="./assets/lienhe/logo.png", alt="")
				.title.text-center
					h2 
						| TOKYO DELI EXPRESS
				.contact-info-2.text-left
					.contact-item
						span.material-icons phone
						a(href="tel:+8438265777") (+84 - 08) 3826 5777
					.contact-item
						span.material-icons email
						a(href="mailto:dichvukhachhang@tokyodeli.com.vn") dichvukhachhang@tokyodeli.com.vn
				.bg-fade
			.contact-form
				.contact-form-detail
					.content
						p Phản hồi của bạn là cơ sở mà chúng tôi cố gắng nâng cấp và cải thiện chất lượng dịch vụ của mình.
						p.pt-2 Chúng tôi đánh giá cao phản hồi của bạn vì nó góp phần vào sự phát triển ổn định của Tokyo Deli. #[br]Xin hãy để lại thông tin phản hồi của bạn tại đây.
					.my-form
						.wrap-form
							.row.justify-content-between
								.form-group.content
									input.form-control(required type="text" placeholder="Họ tên *")
								.form-group.content
									input.form-control(required type="phone" placeholder="Số điện thoại *")
								.form-group.content
									input.form-control(required type="email" placeholder="Email *")
								.form-group.content
									input.form-control(required type="text" placeholder="Địa chỉ *")
								.form-group.content.full
									input.form-control(required type="text" placeholder="Tiêu đề *")
								.form-group.content.full
									input.form-control(type="text" placeholder="Nội dung")
						.frm-btnwrap
							.frm-btn.frm-submit.text-right
								input.seemore(type="submit" value="Gửi")
		.map.text-center
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6135838122877!2d106.70220451428693!3d10.7642347623633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f58f96cb987%3A0xfb51ea273d3c75dd!2zVE9LWU8gREVMSSAtIE5HVVnhu4ROIFbEgk4gQsOB!5e0!3m2!1svi!2s!4v1603941855069!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



					

						