.lienhe
	padding-top: (55/16)*1rem
	.contact-info-2
		@media (max-width: 575.98px)
			padding: 0 20px
	.content-sub
		color: #999999!important
		font-size: (14/16)*1rem
		line-height: (18/16)*1rem
		font-family: $font-sub
	.title
		*
			color: #111111
			font-size: 30 / 16 * 1rem
			font-weight: 800
			font-family: "Montserrat"
	.content
		*
			color: #333333
			font-size: 1rem
			font-weight: 400
			font-family: Nunito
			line-height: 22px
		&-2
			font-size: 1rem
			color: #111111
			line-height: (22/16)*1rem
	.zoom-in
		display: block
		overflow: hidden
		img
			transition: .3s all ease-in-out
		&:hover img
			transform: scale(1.05)
			transition: .3s all ease-in-out
			padding: (55/16)*1rem 0
	.contact
		display: flex
		justify-content: center
		padding-top: (30/16)*1rem
		min-height: 470px
		&-info
			position: relative
			padding: (50/16)*1rem (50/16)*1rem 0
			max-width: 420px
			width: 100%
			background-color: white
			background: url("../assets/background/bg-4.png") no-repeat
			background-position-x: 130px
			background-position-y: -50px
			text-align: center
			overflow: hidden
			img
				width: 100%
				max-width: 200px
			.title *
				font-size: (18/16)*1rem
				color: #ea2531
				font-weight: bold
			.bg-fade
				position: absolute
				background: url("../assets/background/bg-4.png") no-repeat
				background-position-y: 10px
				background-position-x: -190px
				width: 100%
				height: 100%
				left: 0
		&-info-2
			& *:not(.material-icons)
				font-family: $font-sub-2
				font-size: 1rem
				color: #999999
			.contact-item
				display: flex
				align-items: center
				.material-icons
					padding-right: (20/16)*1rem
				&:first-child
					padding: (20/16)*1rem 0
		&-form
			margin-left: (30/16)*1rem
			max-width: 810px
			width: 100%
			background-color: white
			background: url("../assets/background/bg-5.png") 80% 43% no-repeat
			padding: (25/16)*1rem (30/16)*1rem
			padding-bottom: 0
			.my-form
				padding-top: 1rem
				.row
					margin-right: 0
					margin-left: 0
				.form-group.content
					max-width: 345px
					width: 100%
					@media screen and (max-width: 1520px)
						max-width: 100%
					textarea
						color: #333
						border: unset
						border-bottom: 1px solid #ebebeb
						padding-left: 0
						font-weight: 400
						padding-bottom: 5px
						width: 100%
						background-color: transparent
						height: 35px
					input
						color: #333
						border: unset
						border-bottom: 1px solid #ebebeb
						padding-left: 0
						padding-bottom: 5px
						font-weight: 400
						width: 100%
					.form-control
						border-radius: unset
						background: unset
						&:focus
							box-shadow: unset
					&.full
						max-width: 100%
						&:last-child
							padding-top: 1rem
			.frm-btnwrap
				display: flex
				justify-content: flex-end
				padding-top: 20px
				.frm-btn
					input
						display: inline-block
						text-transform: uppercase
						font-size: (14/16)*1rem
						font-weight: bold
						color: white
						background-color: $colorMain
						padding: (10/16)*1rem (30/16)*1rem
						border: 1px solid $colorMain!important
						background-color: $colorMain
						border-radius: 20px
						width: 160px
						&:hover
							background-color: white
							border: 1px solid $colorMain
							color: $colorMain
							transition: .2s ease-in-out
	.map
		padding-top: (30/16)*1rem
		iframe
			max-width: 1260px
			height: 500px
@media only screen and (max-width: 1200px)
	.lienhe
		.contact-form .my-form .form-group.content
			max-width: 100%
@media only screen and (max-width: 768px)
	.lienhe
		.contact
			display: block
			&-info
				max-width: 100%
				padding-bottom: 20px
			&-form
				padding-bottom: 20px
				margin-left: 0
				margin-top: 21px
			.contact-form-detail
				.pt-2
					*
						font-size: 14px !important
						font-weight: 600
@media only screen and (max-width: 400px)
	.lienhe
		.contact-info
			padding: (20/16)*1rem (10/16)*1rem
			.contact-item
				word-break: break-all
