section.index-4 
	.wrap-box
		.img.img-left
			img(src="./assets/index/i5-5.png", alt="")
		.wrap-box-contact 
			.title-hotline
				img(src="./assets/index/icon-phone.png", alt="")
				p Hotline
			.text Dịch vụ giao thức ăn tận nơi của nhà hàng Tokyo Deli với thực đơn phong phú với hơn 200 món ăn hiện đang bán tại nhà hàng. 
			.hotline 
				p Delivery (HCM)
				strong (028) 3826.5777 
			.hotline 
				p Delivery (HN)
				strong (024) 7102.8222 
		.img.img-right
			img(src="./assets/index/i5-2.png", alt="")