section.section-gt.about-6#about-6
	.container-fluid
		.steps
			.section-title.text-center
				h6 Quy trình
			.steps-area
				.wrap-slide
					.wrap-button-slide
						.swiper-prev.sw-3
							span.material-icons.partner-icon keyboard_arrow_left
						.swiper-next.sw-3
							span.material-icons.partner-icon keyboard_arrow_right
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.wrap-box
										.img
											img(src="./assets/gioithieu/11.jpg", alt="")
										.steps-content
											span.font-weight-bold Bước 1:
											span.pl-2 Thức ăn sau khi chế biến được đựng trong hộp và đậy nắp bảo quản.