.contact-tool
	.list-item
		em.ri-map-pin-2-line
		p Hệ thống cửa hàng
	.list-item
		em.ri-mail-send-line
		p dichvukhachhang@tokyodeli.com.vn
	.list-item
		em.ri-phone-line
		.content
			p Hotline
			p 190023450