section.index-1 
	h2 
		| Tokyo 
		span Deli 
		| Express
	strong Dịch vụ kết nối các chuỗi nhà hàng Nhật Bản - Tokyo Deli tại TP.HCM và Việt Nam  đến với tất cả mọi người
	p Tokyo Deli Express kết hợp với các đối tác hàng đầu Việt Nam về lĩnh vực giao hàng: Grab, Now, Baemin, Goviet để mang đến cho bạn thưởng thức nhanh chóng bảo đảm chuẩn vị Nhật.
	a(href="").button-order Đặt ngay!