extends ../_components/_layout/_layout.pug

block var
	- let title = 'GIỚI THIỆU';
	- let bodyClass = 'bg-gioithieu';
	- let titlePosition = ['Trang Chu'];
block banner,breadcrumb
	include ../_components/banner/pages-banner.pug
	include ../_components/_layout/_breadcrumb.pug
block main
	include ../_components/gioithieu/gt-1/index.pug
	include ../_components/gioithieu/gt-2/index.pug
	include ../_components/gioithieu/gt-3/index.pug
	include ../_components/gioithieu/gt-4/index.pug
	include ../_components/gioithieu/gt-5/index.pug
	include ../_components/gioithieu/gt-6/index.pug
block scripts
