extends ../_components/_layout/_layout.pug

block var
    - let title = 'Khuyến mãi';
    - let bodyClass = '';
    - let titlePosition = ['Khuyen Mai'];
block banner,breadcrumb
    include ../_components/banner/pages-banner.pug
    include ../_components/_layout/_breadcrumb.pug
block main 
    include ../_components/khuyenmai/index.pug