extends ../_components/_layout/_layout.pug

block var
	- let title = 'TRANG CHỦ';
	- let bodyClass = 'bg-thucdon';
	- let titlePosition = ['Trang Chu'];
block banner,breadcrumb
	include ../_components/banner/pages-banner.pug
	include ../_components/_layout/_breadcrumb.pug
block main
	include ../_components/thucdon/index.pug
block scripts
