extends ../_components/_layout/_layout.pug

block var
    - let title = 'Tin Tức';
    - let bodyClass = '';
    - let wrapClass = 'wrap-thuc-don-ct';
    - let titlePosition = ['Lien He'];
block banner,breadcrumb
    include ../_components/_layout/_breadcrumb2.pug
block main 
    include ../_components/cttintuc/index.pug