button
	background-color: transparent
	&:focus
		outline: none
		box-shadow: none
	
.button-order
	width: 160px
	height: 44px
	box-shadow: 3px 4px 20px rgba(232, 36, 41, 0.25)
	border-radius: 22px
	background-color: #e82429
	background-image: linear-gradient(to right, rgba(132, 0, 0, 0) 0%, rgba(132, 0, 0, 0.3) 100%)
	display: flex
	align-items: center
	justify-content: center
	color: #ffffff
	font-size: 14px
	font-weight: 700
	font-family: Nunito
	text-transform: uppercase
	letter-spacing: 1.4px
	margin: 0 auto
	margin-top: 27px
