button
	background-color: transparent
	&:focus
		outline: none
		box-shadow: none
.swiper-next
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 100%
	cursor: pointer
	margin-left: 15px
.partner-icon
	font-size: (46/16)*1rem
	color: #333333
	&:hover
		color: $colorMain
.swipe-button-1 
	em
		color: #dddddd
		font-size: 36px
		font-weight: 400
		transition: .3s all  ease-in-out
	&:hover
		em 
			color: $main-color
.swiper-prev
	position: absolute
	top: 50%
	transform: translateY(-50%)
	right: 100%
	cursor: pointer
	margin-right: 15px
.swiper-next,.swiper-prev
	@media screen and ( max-width: 1500px )
		position: static
		transform: translateY(0)
		// background-color: #fff
		// width: 40px
		// height: 40px
		// display: flex
		// align-items: center
		// justify-content: center
@media screen and ( max-width: 1500px )
	.wrap-button-slide
		display: flex
		align-items: center
		justify-content: center
		margin-top: 10px
.button-order
	width: 160px
	height: 44px
	box-shadow: 3px 4px 20px rgba(232, 36, 41, 0.25)
	border-radius: 22px
	background-color: #e82429
	background-image: linear-gradient(to right, rgba(132, 0, 0, 0) 0%, rgba(132, 0, 0, 0.3) 100%)
	display: flex
	align-items: center
	justify-content: center
	color: #ffffff
	font-size: 14px
	font-weight: 700
	font-family: Nunito
	text-transform: uppercase
	letter-spacing: 1.4px
	transition: .3s all  ease-in-out
	cursor: pointer
	margin: 0 auto
	margin-top: 27px
	&:hover
		color: white
		transform: translateY(-3px)
a.xemthem 
	color: $main-color
	font-size: 14 / 16 * 1rem
	font-weight: 700
	text-align: left
	text-transform: uppercase
	letter-spacing: 1.4px
	transition: .3s all  ease-in-out
	display: block
	margin-top: 17px
	&:hover 
		transform: translateY(-3px)
ul.pagination
	display: flex
	justify-content: center
	align-items: center
	padding: 0
	margin-top: 28 / 16 * 1rem
	li
		list-style: none
		&.active
			a,span
				background-color: #e92431
				font-weight: 700
				color: white
				border: 1px solid transparent
		a,span
			cursor: pointer
			width: 40px
			height: 40px
			border-radius: 50%
			color: white
			display: flex
			align-items: center
			justify-content: center
			color: #666666
			font-size: 18px
			font-weight: 400
			font-family: Nunito
			letter-spacing: 0.45px
			border: 1px solid #666666
			&:hover
				background-color: #e92431
				font-weight: 700
				color: white
				border: 1px solid transparent
		+ li
			margin-left: 20px
