section.section-gt.about-3#about-3
	.container
		.look
			.section-title.text-center
				h3 Tầm nhìn - Sứ mệnh
			.look-area
				.look-area-item
					.img
						img(src="./assets/gioithieu/7.jpg", alt="")
					.distance
						span.title Tầm nhìn
						span.content-2 Mang ẩm thực Nhật Bản đến với khách hàng thông qua dịch vụ ăn uống an toàn chất lượng và chuyên nghiệp. #[br]#[br]Tokyo Deli Catering là sự kế thừa và phát huy thế mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản
				.look-area-item
					.img
						img(src="./assets/gioithieu/7.jpg", alt="")
					.distance
						span.title Sứ mệnh
						span.content-2 Tokyo Deli Catering là sự tiếp nối và mở rộng thế mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản hàng đầu tại Việt Nam