section.section-gt.about-4#about-4
	.container-fluid
		.section-title 
			h2 Sự tiện lợi của TOKYO DELI EXPRESS
		.wrap-box 
			.row 
				-for(i=0;i<4;i++)
					.col-lg-6
						a(href="").box-img 
							.img
								img(src="./assets/gioithieu/14.jpg", alt="")
							.overlay 
								.wrap-text
									span.title Dễ dàng tìm cửa hàng
									span.content 14 Chi nhánh nhà hàng rộng khắp tại TP.HCM và 4 chi nhánh tại Hà Nội mang đúng vị Nhật Bản đến tận tay bạn mọi lúc, mọi nơi.
							

