section.banner-home#home-banner
	.swiper-container
		.swiper-wrapper
			-for(i=0;i<5;i++)
				.swiper-slide
					.wrap-img
						.img
							img(src="./assets/index/bg-banner.png", alt="")
						.text 
							.title-banner Đặt và giao món nhanh chóng, tiện lợi thông qua các ứng dụng Grab, Now, Baemin, GoViet
		.swiper-pagination