section.index-2
	.container-fluid.animation-left
		.row
			.col-xl.col-md-4.col-sm-6
				a.wrap-box(href="")
					.img 
						img(src="./assets/index/sp1.png", alt="")
					.title Món mới
					.overlay 
						.icon
							img(src="./assets/index/icon-susi.png", alt="")
			.col-xl.col-md-4.col-sm-6
				a.wrap-box(href="")
					.img 
						img(src="./assets/index/sp1.png", alt="")
					.title Khuyến mãi
					.overlay 
						.icon
							img(src="./assets/index/icon-susi.png", alt="")
			.col-xl.col-md-4.col-sm-4
				a.wrap-box(href="")
					.img 
						img(src="./assets/index/i2-22.png", alt="")
					.title Ăn vặt và thức uống
					.overlay 
						.icon
							img(src="./assets/index/icon-susi.png", alt="")
			.col-xl.col-md-6.col-sm-4
				a.wrap-box(href="")
					.img 
						img(src="./assets/index/i2-22.png", alt="")
					.title Top món bán chạy
					.overlay 
						.icon
							img(src="./assets/index/icon-susi.png", alt="")
			.col-xl.col-md-6.col-sm-4
				a.wrap-box(href="")
					.img 
						img(src="./assets/index/i2-33.png", alt="")
					.title Món chính
					.overlay 
						.icon
							img(src="./assets/index/icon-susi.png", alt="")
