section.gioithieu.total
	.container
		.intro
			.intro-content
				img(src="./assets/gioithieu/phone.png", alt="")
			.intro-content2
				.title
					h1 Giới thiệu
				.content
					p Tokyo Deli Express là dịch vụ giao hàng kết hợp với các đối tác giao hàng hàng đầu Việt Nam mang đến hương vị Nhật Bản trọn vẹn cho khách hàng. #[br] #[br] Nhằm kết nối  các chuỗi nhà hàng Nhật Bản-Tokyo Deli tại TP.HCM và Việt Nam  đến với tất cả mọi người, Vì  vậy ,Tokyo deli cho ra mắt dịch vụ Tokyo Deli Express kết hợp với các đối tác hàng đầu Việt Nam về lĩnh vực giao hàng để mang đến cho bạn thưởng thức nhanh chóng bảo đảm chuẩn vị Nhật.
				a.button-order(data-toggle="modal" data-target="#exampleModal") xem thêm
		.history
			.title.text-center
				h2 Lịch sử hình thành
			.wrap-slide
				.swiper-container
					.swiper-wrapper
						-for(i=0;i<4;i++)	
							.swiper-slide
								.wrap-box
									a(href="#" class="zoom-in")
										img(src="./assets/gioithieu/2.jpg", alt="")
									.distance
										a(href="#")
											span.title 2007
											span.content-2 Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng.
				.wrap-button-slide
					.swiper-prev.sw-1
						span.material-icons.partner-icon keyboard_arrow_left
					.swiper-next.sw-1
						span.material-icons.partner-icon keyboard_arrow_right
					
		.look
			.title.text-center
				h3 Tầm nhìn - Sứ mệnh
			.look-area
				.look-area-item
					.img
						img(src="./assets/gioithieu/7.jpg", alt="")
					.distance
						span.title Tầm nhìn
						span.content-2 Mang ẩm thực Nhật Bản đến với khách hàng thông qua dịch vụ ăn uống an toàn chất lượng và chuyên nghiệp. #[br]#[br]Tokyo Deli Catering là sự kế thừa và phát huy thế mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản
				.look-area-item
					.img
						img(src="./assets/gioithieu/7.jpg", alt="")
					.distance
						span.title Sứ mệnh
						span.content-2 Tokyo Deli Catering là sự tiếp nối và mở rộng thế mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản hàng đầu tại Việt Nam
	.utility
		.title.text-center 
			h4 Sự tiện lợi của TOKYO DELI EXPRESS
		.wrap-utility-area
			.utility-area
				a(href="#",class="utility-area-item")
					.img
						img(src="./assets/gioithieu/14.jpg", alt="")
					.utility-overload
						.wrap-text
							span.title Dễ dàng tìm cửa hàng
							span.content 14 Chi nhánh nhà hàng rộng khắp tại TP.HCM và 4 chi nhánh tại Hà Nội mang đúng vị Nhật Bản đến tận tay bạn mọi lúc, mọi nơi.
				a(href="#",class="utility-area-item")
					.img
						img(src="./assets/gioithieu/16.jpg", alt="")
					.utility-overload
						.wrap-text
							span.title Dễ dàng tìm cửa hàng
							span.content 14 Chi nhánh nhà hàng rộng khắp tại TP.HCM và 4 chi nhánh tại Hà Nội mang đúng vị Nhật Bản đến tận tay bạn mọi lúc, mọi nơi.
			.utility-area
				a(href="#",class="utility-area-item")
					.img
						img(src="./assets/gioithieu/17.jpg", alt="")
					.utility-overload
						.wrap-text
							span.title Dễ dàng tìm cửa hàng
							span.content 14 Chi nhánh nhà hàng rộng khắp tại TP.HCM và 4 chi nhánh tại Hà Nội mang đúng vị Nhật Bản đến tận tay bạn mọi lúc, mọi nơi.
				a(href="#",class="utility-area-item")
					.img
						img(src="./assets/gioithieu/18.jpg", alt="")
					.utility-overload
						.wrap-text
							span.title Dễ dàng tìm cửa hàng
							span.content 14 Chi nhánh nhà hàng rộng khắp tại TP.HCM và 4 chi nhánh tại Hà Nội mang đúng vị Nhật Bản đến tận tay bạn mọi lúc, mọi nơi.
	.container
		.partner
			.title.text-center
				h5 Đối tác
			.wrap-slide
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/gioithieu/6.png", alt="")
						.swiper-slide
							img(src="./assets/gioithieu/5.png", alt="")
						.swiper-slide
							img(src="./assets/gioithieu/15.png", alt="")
						.swiper-slide
							img(src="./assets/gioithieu/9.jpg", alt="")
						.swiper-slide
							img(src="./assets/gioithieu/9.jpg", alt="")
						.swiper-slide
							img(src="./assets/gioithieu/9.jpg", alt="")
				.wrap-button-slide
					.swiper-prev.sw-2
						span.material-icons.partner-icon keyboard_arrow_left
					.swiper-next.sw-2
						span.material-icons.partner-icon keyboard_arrow_right
					
					
	.steps
		.title.text-center
			h6 Quy trình
		.steps-area
			.wrap-slide
				.wrap-button-slide
					.swiper-prev.sw-3
						span.material-icons.partner-icon keyboard_arrow_left
					.swiper-next.sw-3
						span.material-icons.partner-icon keyboard_arrow_right
				.swiper-container
					.swiper-wrapper
						-for(i=0;i<5;i++)
							.swiper-slide
								a(href="#" class="steps-link")
									.img
										img(src="./assets/gioithieu/11.jpg", alt="")
									.steps-content
										span.font-weight-bold Bước 1:
										span.pl-2 Thức ăn sau khi chế biến được đựng trong hộp và đậy nắp bảo quản.
				




				
									

		