section.index-3 
	.container
		h2.title Khuyến mãi
		.row 
			.col-xl-6
				.wrap-box
					.img
						a(href="")
							img(src="./assets/index/i3-2.png", alt="")
					.box-text 
						strong Giảm giá 30% Bento cơm thịt bò
						p Thời gian: Từ ngày 01/04/2020 - 31/05/2020. Áp dụng cho khách hàng đặt món trên ứng dụng Now.vn
						a.xemthem(href="") Xem thêm
			.col-xl-6
				.wrap-box-small
					.img
						a(href="")
							img(src="./assets/index/i3-3.png", alt="")
					.wrap-text 
						strong Ăn thật đã, giá thật mê cùng Grabfood
						p Từ 15/7-31/7/2020, Quý khách hàng khi đặt Tokyo Deli sẽ được giảm 100.000 đồng cho giao dịch đầu tiên đặt hàng qua Grabfood.
						a.xemthem(href="") Xem thêm
				.wrap-box-small
					.img
						a(href="")
							img(src="./assets/index/i3-4.png", alt="")
					.wrap-text 
						strong GOVIET: Món gì cũng có, mà còn giao nhanh
						a.xemthem(href="") Xem thêm